@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-family: 'Press Start 2P', cursive;
    background-image: url("../img/fondo.svg");
    background-repeat: no-repeat; 
    background-size: cover;

}

#tablero_juego{
    height:20vh;
    overflow : scroll;
    overflow-x : hidden;
}

.ganador{
    color: green;
}

.perdedor{
    color: red;
}

.btn_opcion{
    margin:auto;
}

.imagen_trofeo{
    width: 10vh;
    height: 10vh;
}

.error{
    color: red;
}

#img_jugador{
    width: 20vw;
    height: 20vw;
}

#img_maquina{
    width: 20vw;
    height: 20vw;
}

#nombre_jugador{
    font-size: 3vw;
}

#nombre_maquina{
    font-size: 3vw;
}

#tablero_puntaje{
    border-radius: 20px;
    background-image: url("../img/a295.png");
    background-repeat: no-repeat; 
    background-size: cover;
}